<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Danh Mục</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Admin</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>



</nav>
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Admin/sidebar :: sidebar"></ul>
    <!--    content wrapper ,content sp-->
    <div id="content-wrapper">
<!--        <div th:replace="Admin/content-danhmuc :: danhmuc_content "></div>-->
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Danh Mục</li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table">
                        <!-- Modal add -->
                        <div class="row">
                            <div class="themsp pull-left" style="margin-left: 20px;margin-bottom: 10px">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Thêm
                                </button>
                            </div>
                            <div class="search justify-content-end" style="margin-left: 700px">
                                <form class="form-inline pull-right"  method="GET">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search"
                                               placeholder="Type employee name..." />
                                    </div>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </form>
                            </div>
                        </div>


                        <div class="modal" id="myModal">
                            <div class="modal-dialog modal-lg" >
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm Danh Mục</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/Admin/InsertDanhMuc" >
                                            <div class="form-group">
                                                <legend class="">Thêm</legend>
                                            </div>
                                            <div class="form-group">
                                                <!-- <label for="tensp">Tên Sản Phẩm</label> -->
                                                <input type="text" class="form-control" placeholder="Tên Danh Mục" name="tendanhmuc">
                                            </div>
                                            <div class="form-group">
                                                <!-- <label for="mota">Mô Tả</label> -->
                                                <input type="text" class="form-control" placeholder="Mô Tả"  name="motadanhmuc">
                                            </div>


                                            <div class="form-group" style="padding-bottom: 10px;">
                                                <button type="submit" class="btn btn-primary">Thêm</button>
                                                <button type="submit" class="btn btn-secondary">Làm Mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- table sản phẩm -->
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr >
                                <th style="width: 30%">Tên Danh Mục</th>
                                <th style="width: 50%">Mô Tả</th>
                                <th style="width: 20%"> </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:unless="${#lists.isEmpty(categorys.pageList)}" th:each="dm ,i : ${categorys.pageList}">
                                <td th:text="${dm.tendanhmuc}"></td>
                                <td th:text="${dm.motadanhmuc}"></td>
                                <td>
                                    <!--button chi tiet-->
                                    <a class="btn btn-success" th:href="@{/Admin/thbydmuc/{id}(id=${dm.id})}"><i class="fa fa-search"></i></a>
                                    <!--button xoa-->
                                    <a class="btn btn-danger" th:href="@{/Admin/qldm/{id}/delete(id=${dm.id})}"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="paging">
                            <ul class="pagination">
                                <li
                                        th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
                                    <a class="page-link" th:href="@{/Admin/quanlydm}">First</a>
                                </li>
                                <li
                                        th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                                    <a class="page-link" aria-label="Previous"
                                       th:href="@{|${baseUrl}${currentIndex - 1}|}"
                                       title='Go to previous page'><span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span></a>
                                </li>
                                <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                    th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                                    <a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
                                            th:text='${item}'>1</span>
                                    </a>
                                </li>
                                <li
                                        th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
                                    <a class="page-link" aria-label="Next"
                                       th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
                                            aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
                                </li>
                                <li
                                        th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
                                    <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2020</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->
    <!--    /content wrapper , contetn sp-->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages -->
<script th:src="@{/js/sb-admin.min.js}"></script>

<!-- Demo scripts for this page-->
<!-- <script src="js/demo/datatables-demo.js"></script> -->

</body>

</html>
