    <!DOCTYPE html>
    <html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Admin - Danh Mục</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
              th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>

    </head>

    <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">Admin</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>

    </nav>
    <script type="text/javascript">
        $("#formupdate").submit(function (event) {
            event.preventDefault();
            var id_sanpham = $("#id_sanpham").val();
            var tensanpham = $("#tensanpham").val();
            var giasanpham = $("#giasanpham").val();
            var giamgia = $("#giamgia").val();
            var motasanpham = $("#motasanpham").val();
            var soluong = $("#soluong").val();
            console.log(id_sanpham);
            console.log(tensanpham);
            $.ajax({
                type : 'POST',
                url : '/chitietsanphamajax/update/' + id_sanpham
                    +'?tensanpham='+tensanpham
                    +'&giasanpham='+giasanpham
                    +'&giamgia='+giamgia
                    +'&giamgia='+giamgia
                    +'&motasanpham='+motasanpham
                    +'&soluong='+soluong,
                success : function (result) {
                    console.log('submit success')
                    console.log(id_sanpham);
                }
            })
        })
    </script>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="Admin/sidebar :: sidebar"></ul>
        <!--    content wrapper ,content sp-->
        <div id="content-wrapper">
            <!--        <div th:replace="Admin/content-danhmuc :: danhmuc_content "></div>-->
            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                    <li class="breadcrumb-item active">Chi Tiết Sản Phẩm</li>
                </ol>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table">
                            <!-- table sản phẩm -->
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <tr>
                                    <th style="width: 25%;" th:each="img : ${chitietsp.getImages()}"><img th:src="'/images/'+${img.getName_img()}" alt="" style="width: 100%;"></th>
                                </tr>
                            </table>
                        </div>
                        <div id="showsanpham">
                            <h3>Tên Sản Phẩm : <strong style="color: red" th:text="${chitietsp.getTensanpham()}"></strong></h3>
                            <h3>Giá Sản Phẩm : <strong th:text="${#numbers.formatInteger(chitietsp.getGiasanpham(),3,'POINT')}+' VND'"></strong></h3>
                            <h3>Giảm Giá : <strong th:text="${#numbers.formatInteger(chitietsp.getGiamgia(),1,'POINT')}"></strong></h3>
                            <h3>Danh Mục : <strong th:text="${chitietsp.getThuongHieu().getDanhMuc().getTendanhmuc()}"></strong></h3>
                            <h3>Thương Hiệu : <strong th:text="${chitietsp.getThuongHieu().getTenthuonghieu()}"></strong></h3>
                            <h3>Mô Tả Sản Phẩm : <strong th:text="${chitietsp.getMotasanpham()}"></strong></h3>
                            <h3>Số Lượng : <strong th:text="${#numbers.formatInteger(chitietsp.getSoluong(),1,'POINT')}"></strong></h3>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
    <!--                    modal update-->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog modal-lg" >
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Sửa</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">

                                        <form id="formupdate" method="POST" name="dataform" enctype="multipart/form-data"
                                              th:action="@{/chitietsanpham2/update/{id}(id=${chitietsp.getId()})}">
                                            <div class="form-group">
                                                <legend class="">Sửa</legend>
                                            </div>
                                            <div class="form-group" style="display: none">
                                                <input type="text" class="form-control"  name="id" id="id_sanpham"
                                                       th:value="${chitietsp.getId()}">
                                            </div>
                                            <div class="form-group">
                                                 <label>Tên Sản Phẩm</label>
                                                <input type="text" class="form-control" placeholder="Tên Sản Phẩm" name="tensanpham" id="tensanpham"
                                                th:value="${chitietsp.getTensanpham()}">
                                                <small style="display: none" id="tensanpham_" class="form-text">Tên sản phẩm không được để
                                                    trống</small>
                                            </div>
                                            <div class="form-group">
                                                 <label>Giá</label>
                                                <input type="text" class="form-control" placeholder="Giá" name="giasanpham" id="giasanpham"
                                                       th:value="${#numbers.formatInteger(chitietsp.getGiasanpham(),3,'POINT')}">
                                                <small style="display: none" id="giasanpham_" class="form-text">Giá không được để
                                                    trống</small>
                                            </div>
                                            <div class="form-group">
                                                 <label >Giảm Giá</label>
                                                <input type="text" class="form-control" placeholder="Giảm Giá" name="giamgia" id="giamgia"
                                                       th:value="${#numbers.formatInteger(chitietsp.getGiamgia(),3,'POINT')}">
                                                <small style="display: none" id="giamgia_" class="form-text">Giảm giá không được để
                                                    trống</small>
                                            </div>
                                            <div class="form-group">
                                                 <label>Mô Tả</label>
                                                <input type="text" class="form-control" placeholder="Mô Tả" name="motasanpham" id="mota"
                                                th:value="${chitietsp.getMotasanpham()}">
                                                <small style="display: none" id="mota_" class="form-text">Mô tả không được để
                                                    trống</small>
                                            </div>
                                            <div class="form-group">
                                                 <label>Số Lượng</label>
                                                <input type="text" class="form-control" placeholder="Số Lượng" name="soluong" id="soluong"
                                                th:value="${#numbers.formatInteger(chitietsp.getSoluong(),1,'POINT')}">
                                                <small style="display: none" id="soluong_" class="form-text">Số lượng không được để
                                                    trống</small>
                                            </div>

                                            <div class="form-group" style="padding-bottom: 10px;">
                                                <button type="submit" class="btn btn-primary">Sửa</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
    <!--                    end-->
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2020</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->
        <!--    /content wrapper , contetn sp-->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>


    <!-- Demo scripts for this page-->
    <!-- <script src="js/demo/datatables-demo.js"></script> -->

    </body>

    </html>
