<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="Home/head :: head">
</head>
<body>
<!--header-->
<div th:replace="Home/header :: header"></div>
<!--end-header-->
<!--banner-starts-->
<div class="home-wrapper">
    <div class="container">
        <!--Feature slide-->
        <div class="__home_feature_slide">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a th:href="@{javascript:';'}">
                            <img th:src="@{/images/banner.jpg}" class="img-fluid w-100" alt="Banner">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{javascript:';'}">
                            <img th:src="@{/images/banner.jpg}" class="img-fluid w-100" alt="Banner">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{javascript:';'}">
                            <img th:src="@{/images/banner.jpg}" class="img-fluid w-100" alt="Banner">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{javascript:';'}">
                            <img th:src="@{/images/banner.jpg}" class="img-fluid w-100" alt="Banner">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{javascript:';'}">
                            <img th:src="@{/images/banner.jpg}" class="img-fluid w-100" alt="Banner">
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination slide-pagination"></div>
            <div class="swiper-button-prev slide-navigation slide-prev">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </div>
            <div class="swiper-button-next slide-navigation slide-next">
                <i class="fas fa-arrow-alt-circle-right"></i>
            </div>
        </div>
        <!--Feature slide-->

        <!--Ưu đãi nổi bật-->
        <section class="promotion">
            <h1 class="title">
                Ưu đãi nổi bật
            </h1>
            <div class="promotion-wrapper">
                <div class="promotion-slide hover-slide">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <img src="images/promotion.jpg" class="img-fluid w-100" alt="Promotion">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <img src="images/promotion.jpg" class="img-fluid w-100" alt="Promotion">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <img src="images/promotion.jpg" class="img-fluid w-100" alt="Promotion">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <img src="images/promotion.jpg" class="img-fluid w-100" alt="Promotion">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <img src="images/promotion.jpg" class="img-fluid w-100" alt="Promotion">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <h3 class="thumb-text">Đổi size miễn phí tại tất cả các cửa hàng trong vòng 1 tuần</h3>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <h3 class="thumb-text">Đổi size miễn phí tại tất cả các cửa hàng trong vòng 1 tuần</h3>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <h3 class="thumb-text">Đổi size miễn phí tại tất cả các cửa hàng trong vòng 1 tuần</h3>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <h3 class="thumb-text">Đổi size miễn phí tại tất cả các cửa hàng trong vòng 1 tuần</h3>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <h3 class="thumb-text">Đổi size miễn phí tại tất cả các cửa hàng trong vòng 1 tuần</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-prev slide-navigation slide-prev">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                    </div>
                    <div class="swiper-button-next slide-navigation slide-next">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </div>
                </div>
                <div class="promotion-banner">
                    <div class="promotion-item">
                        <figure class="imghvr-shutter-out-diag-1">
                            <img src="images/2048.jpg" class="img-fluid w-100" alt="Item Promotion">
                            <figcaption>
                                <a href="javascript:void(0);">Tìm hiểu thông tin chi tiết về chương trình tại đây</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="promotion-item">
                        <figure class="imghvr-shutter-out-diag-1">
                            <img src="images/2048.jpg" class="img-fluid w-100" alt="Item Promotion">
                            <figcaption>
                                <a href="javascript:void(0);">Tìm hiểu thông tin chi tiết về chương trình tại đây</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="promotion-item">
                        <figure class="imghvr-shutter-out-diag-1">
                            <img src="images/2048.jpg" class="img-fluid w-100" alt="Item Promotion">
                            <figcaption>
                                <a href="javascript:void(0);">Tìm hiểu thông tin chi tiết về chương trình tại đây</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!--Ưu đãi nổi bật-->


        <!--Danh sách sản phẩm-->
        <section class="home-product">
            <h1 class="title">Danh sách sản phẩm</h1>

            <div class="product-list">
                <ul class="nav nav-tabs product-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab">Giày nam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab">Giày nữ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab">Giày bé trai</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab">Giày bé gái</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="man">
                        <div class="list_product man-product">

                            <div class="product" th:each="sp : ${session.listSanPham}">
                                <div class="thumbnail">
                                    <a th:href="@{/Home/spById/{id}(id=${sp.id})}">
                                        <img th:src="'/images/'+${sp.getImages().get(0).getName_img()}" class="img-fluid w-100" alt="Product">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-name" th:text="${sp.getTensanpham()}"></h3>
                                    <p class="product-category" th:text="${sp.getDanhMuc().getTendanhmuc()}"></p>
                                    <p class="price" th:text="${#numbers.formatInteger(sp.getGiasanpham(),3,'POINT')}+' VND'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Danh sách sản phẩm-->
    </div>

    <!--Footer-->
   <div th:replace="Home/footer ::footer"></div>

    <!--Footer-->
</div>
</body>
</html>