<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng kí tài khoản</title>
    <head th:replace="Home/head :: head">
    </head>
<body>
<div th:replace="Home/header :: header"></div>
<div class="container">
<form id='register_form' th:action="@{/add-user}" method='POST' modelAttribute="user">
    <div class="form-group">
        <h2>Đăng Kí Tài Khoản</h2>
        <input name="username" type="text" class="form-control" id="username"
               placeholder="Nhập Email"/>
        <small style="display: none" id="username_" class="form-text">Username không được để
            trống</small>
    </div>
    <div class="form-group">
        <input name="password" type="password" class="form-control" id="password"
               placeholder="Nhập mật khẩu"/>
        <small style="display: none" id="password_" class="form-text">Mật khẩu không được để
            trống</small>
    </div>
    <div class="form-group">
        <input name="re_password" type="password" class="form-control" id="re_password"
               placeholder="Nhập lại mật khẩu"/>
        <small style="display: none" id="re_password_" class="form-text" >Không được để trống</small>
    </div>
    <div class="form-group">
        <input name="ten" type="text" class="form-control" id="name"
               placeholder="Nhập họ tên"/>
        <small style="display: none" id="name_" class="form-text">Họ tên không được để
            trống</small>
    </div>
    <div class="form-group">
        <input name="sdt" type="number" class="form-control" id="phone"
               placeholder="Nhập số điện thoại"/>
        <small style="display: none" id="phone_" class="form-text">Số điện thoại không được để
            trống</small>
    </div>
    <div class="form-group">
        <input name="diachi" type="text" class="form-control" id="address"
               placeholder="Nhập địa chỉ"/>
        <small style="display: none" id="address_" class="form-text">Địa chỉ không được để
            trống</small>
    </div>

    <button th:disabled="false" id="reset" type="reset" class="btn btn-success">Nhập lạí</button>
    <button th:disabled="true" id="submit" type="submit" class="btn btn-success">Đăng ký</button>
</form>
</div>

<!--Footer-->
<div th:replace="Home/footer ::footer"></div>
<!--Footer-->
<script>
    $(document).ready(function () {
        var username = $("#username");
        var username_ = $("#username_");

        var address = $("#address");
        var address_ = $("#address_");

        var name = $("#name");
        var name_ = $("#name_");

        var password = $("#password");
        var password_ = $("#password_");

        var re_password = $("#re_password");
        var re_password_ = $("#re_password_");

        var phone = $("#phone");
        var phone_ = $("#phone_");


        var btn_reset = $("#reset");
        var btn_submit = $("#submit");
        var register_form = $("#register_form");

        var ajax_me = false;

        username.on("blur", function () {
            if (username.val() === "") {
                username_.css("display", "");
            } else {
                console.log(username.val())
                $.ajax({
                    type: 'POST',
                    url: "/ajaxRegister",
                    data: {
                        username : username.val(),
                    },
                    success: function (data) {

                        if (data === "success") {
                            username_.css("display", "none");
                            ajax_me = true;
                        } else {
                            username_.html("Tài khoản đã tồn tại");
                            username_.css("color", "red");
                            username_.css("display", "");

                        }
                    },
                    error: function (err) {

                    }
                });
            }
        });
        address.on("blur", function () {
            if (address.val() == "") {
                address_.css("display", "");
                address_.css("color", "red");
            } else {

                address_.css("display", "none");
            }
        });
        name.on("blur", function () {
            if (name.val() == "") {
                name_.css("display", "");
                name_.css("color", "red");
            } else {
                name_.css("display", "none");
            }
        });
        password.on("blur", function () {
            if (password.val() == "") {
                password_.css("display", "");
                password_.css("color", "red");
            } else {
                password_.css("display", "none");
            }
        });
        re_password.on("blur", function () {
            if (re_password.val() == "") {
                re_password_.html("mật khẩu k dc bỏ trống")
                re_password_.css("display", "");
                re_password_.css("color", "red");
            } else {
                if(re_password.val()== password.val()){
                    re_password_.css("display", "none");
                } else {
                    re_password_.html("phải trùng khớp mật khẩu")
                    re_password_.css("display","")
                    re_password_.css("color", "red");
                }

            }
        })

        phone.on("blur", function () {
            if (phone.val() == "") {
                phone_.css("display", "");
                phone_.css("color", "red");
            } else {
                phone_.css("display", "none");
            }
        });


        var check = function () {
            var c = true;
            if (username.val() === "") {
                c = false;
            }
            if (address.val() === "") {
                c = false;
            }
            if (name.val() === "") {
                c = false;
            }
            if (password.val() === "") {
                c = false;
            }
            if (re_password.val()===""){
                c = false;
            }
            if(phone.val()===""){
                c = false;
            }
            return c;
        };
        register_form.on("keyup", function () {
            if (check() === true && ajax_me === true) {
                btn_submit.removeAttr("disabled");
                btn_submit.on("click", function () {
                    register_form.submit();
                });
            } else {
                btn_submit.attr("disabled", "disabled");
            }

        })


    });
</script>
</body>
</html>